<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701375508984-lru0v5lj7h3f4958dj81e4vp2ghg6kto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701375508984-lru0v5lj7h3f4958dj81e4vp2ghg6kto</string>
	<key>API_KEY</key>
	<string>AIzaSyCsVEpCZNYRnxcmiTzRnkybp6OhdYoCER4</string>
	<key>GCM_SENDER_ID</key>
	<string>701375508984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Assistant-manager-v1.0</string>
	<key>PROJECT_ID</key>
	<string>assistant-manager-2b2cd</string>
	<key>STORAGE_BUCKET</key>
	<string>assistant-manager-2b2cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701375508984:ios:8439f472a41b5ddd09a60d</string>
</dict>
</plist>